h1{
    font-size: xx-large;
}

a:hover{
    color: greenyellow;
}

a:visited{
    color: rgb(226, 150, 43);
}
a:active{
    color: black;
}
h1{
    scroll-behavior: smooth;
}
table{
    margin: 20px;
}
table,th,td{
    border: 1px solid black ;
    border-collapse: collapse;
    padding: 10px;
}
